:root {
  --font-color: darkblue;
}

div {
  background-color: azure;
  margin: 15% 20%;
  padding: 2.5% 7.5%;
  border: 5px solid var(--font-color);
  border-radius: 10px;
}

p {
  font-size: 200%;
  color: var(--font-color);
}

button {
  border: 3px solid var(--font-color);
  border-radius: 10px;
  font-size: 120%;
  color: var(--font-color);
  background-color: transparent;
  padding: 2% 3%;
  transition: all 0.5s;
}

button:hover {
  background-color: white;
  cursor: pointer;
}
